# Gruvbox-Material Soft
custom_background_color 0.1961 0.1882 0.1843 
custom_text_color 0.8313 0.7450 0.5960
status_bar_color 0.1961 0.1882 0.1834
status_bar_text_color 0.8313 0.7450 0.5960

#Gruvbox-Material Medium
# custom_background_color 0.156 0.156 0.156 
# custom_text_color 0.921 0.858 0.698
# status_bar_color 0.156 0.156 0.156
# status_bar_text_color 0.921 0.858 0.698

#Gruvbox-Material Hard
# custom_background_color 0.1137 0.1255 0.1294 
# custom_text_color 0.8314 0.7451 0.5961  


status_bar_font_size 12
show_document_name_in_statusbar 1

startup_commands toggle_custom_color

open_last_file_on_startup 1
should_launch_new_window 1  
should_launch_new_instance 0
super_fast_search 0  
case_sensitive_search 0  
synctex_highlight_color 0.5 0.6 0.6  
page_separator_width 2
font_size 12  

new_command _espeak espeak "%{line_text}"
num_cached_pages 1
sliced_rendering 1
page_space_x 1
page_space_y 1

