custom_background_color 0.156 0.156 0.156 
# custom_background_color 0.078 0.086 0.106 
# custom_text_color 0.804 0.839 .957  
custom_text_color 0.921 0.858 0.698

startup_commands toggle_custom_color

# should_load_tutorial_when_no_other_file 0
open_last_file_on_startup 0
should_launch_new_window 1  
super_fast_search 0  
case_sensitive_search 0  
synctex_highlight_color 0.5 0.6 0.6  
page_separator_width 4
font_size 16  

new_command _espeak espeak "%{line_text}"
num_cached_pages 1
sliced_rendering 1
page_space_x 1
page_space_y 1

